*{
    background-color: black;
    padding: 20px;
}

.home{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.btn1{
    background: white;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    
}